# Introduction to Pandas

This workbook will cover the basics of working with Pandas, a Python package commonly used as the fundamental building block to conduct data analysis and machine learning.

[Download Data](https://www.kaggle.com/competitions/home-credit-default-risk/data?select=bureau.csv)

First let's take a look at importing the package:

In [ ]:
# TO DO: Import package

# TO DO: To see all the data, set Pandas to display the max number of columns within the data

There are several different data types in Pandas but we'll be taking a look at two: Series and DataFrame.

A series is a one dimensional array with axis labels - think like a column in a table.

A dataframe is a two dimensional object, which can hold tabular data - think of it as a table built with multiple series.

These are the fundamental building blocks to work with your data. From here, we can import our data and start to take a look at these different data types.

In [ ]:
# TO DO: Import the data from the CSV file

Data comes in many different formats, but we will be working with .csv files in this workbook. Tabular data will work best with a Pandas dataframe. 

Now let's take a look at our data. There are a series of commands we will take a look at which will tell us about our data.

Starting off with the ```head()```/```tail()``` function: the head() function allows you to view the first few rows of the dataframe while the tail() function allows you to view the last few rows. This is great to get a quick glimpse of the data.

In [ ]:
# TO DO: use the head() function

In [ ]:
# TO DO: use the tail() function

The ```describe()``` function prints the summary statistics of numeric type columns, including count, mean, standard deviationm and the quartile values.

In [ ]:
# TO DO: use the describe function - do you see anything interesting with the data?

The ```info()``` method gives a quick way to look at the different data types and missing values for each column.

In [ ]:
# TO DO: Use the info() function to identify the number of non-null values and 
# the data types for each column - do you see anything that stands out?

The ```shape``` command identifies the number of rows and columns in the dataframe in the following format (rows, columns).

In [ ]:
# TO DO: How many rows and columns are in the data frame?

Here, we use the ```isnull()``` function to identify the number of null values per each column.

In [ ]:
# TO DO: How many null values are there in each column?

If you are searching for certain data, you search by column or by row.

The following are the row functions: ```loc[]``` returns one or more specified rows based on the argument you give. Note ```loc[]``` is based on index label location where as ```iloc[]``` is based on integer location.

In [ ]:
# TO DO: Use the loc function to isolate the first row of the table

In [ ]:
# TO DO: Now try isolating two columns!

You can also use ```loc[rows, columns]``` and ```iloc[rows, columns]``` to isolate columnns.

In [ ]:
# TO DO: Try isolating the columns now to CODE_GENDER and NAME_CONTRACT_TYPE

You can also isolate columns by simply calling the dataframe and the column title as follows:

In [ ]:
# TO DO: Try calling the columns without using the loc/iloc functions

In [ ]:
# TO DO: Call three more!

You can also use Pandas to filter your dataframe to look at a specific subsection of the data and isolate the rows that match your specifications.

In [ ]:
# TO DO: Filter for all the females in the table

Combining the filtering with the ```loc``` function gives you more flexibility to narrow down your results and provide you with the results you want to see.

In [ ]:
# TO DO: Use the loc function to isolate all the females who have taken out Revolving loans 
# and isolate the columns to CNT_CHILDREN the AMT_INCOME_TOTAL and AMT_CREDIT

# Data Transformation

Now that we know the basics of working with Pandas dataframes, let's start working with the data. 

Before we do any analysis or machine learning, we want to be able to transform the data so that we can extract meaningful insights from otherwise "dirty data" (data that is incomplete, inconsistent, or inaccurate).

In order for us to achieve a state where the data is ready to be analyzed we need to do the following:

Clean: This means correcting inaccuracies, filling in missing values, and removing duplicates.

Enrich: This means adding value to the dataset; this might mean merging with another data frame or calculating additional metrics from the raw data.

Validate: This means validating the changes to see if the data is accurate and/or consistent after the data wrangling.

After we accomplish these three steps, we move to the analysis.

Now, let's start with the cleaning.

## Cleaning

When taking a look at your dataset you may see a value labeled as NaN - these are null values where data was not entered or provided. As we had seen earlier (```df.info()```), the data above is riddled with null values. Our first step is in addressing that. There are several ways to deal with missing data. Here are the main two:

- Dropping missing values: Using the ```dropna()``` function, any row that has a NaN value will be dropped. Note that below, the amount of rows has significantly decreased when we drop NaN values.

In [ ]:
# TO DO: Try using the dropna() function. Originally we had over 300,000 columns, now how many do we have?

- Replacing missing values: Instead of dropping the values, you can replace the values with a summary statistic or a specific value. You must be mindful of whether the data is continuous or discrete when making that determination. Here's an example using ```fillna()```:

In [ ]:
# TO DO: Let's try selecting any column that has a number and filling it with zeros. Try it with the mean! 
# Compare the two using the describe function. Do you see anything different? Also consider, 
# does it make sense based on the variables?

We can see that compared to earlier, all the NaN values for integers have been filled in. Now we'll drop any additional NaN values and see how the data looks.

In [ ]:
# TO DO: Drop the rest of the NaN values and take a look at the shape of the dataset.

Now let's address duplicate values. We will be using the ```drop_duplicates()``` function.

In [ ]:
# TO DO: Drop any duplicates. Does the shape change?

During this stage, you can also rename your columns so that it will be easier to refer to them during data analysis or delete columns if they may not be relevant to your data analysis.

In [ ]:
# TO DO: Try renaming your columns.

In [ ]:
# TO DO: Drop columns that you don't think you'll use for your analysis.

## Enriching

This dataset came with additional information regarding their previous credits provided by other financial institutions, their monthly balance snapshots of previous POS and cash loans that the applicant had with home credit, and their previous credit card balance. Let's see if we can merge two of the data sets given.

In [ ]:
# TO DO: Import the bureau data set

In [ ]:
# TO DO: Merge both data sets using an inner joins

Additionally, let's add a separate column which shows the percentage of children out of all the family members in the household.

In [ ]:
# TO DO: Add a new column calculating the percentage of children who are family members in each household

## Validate

We'll use this time to see if anything has changed dramatically within the data. To do this we'll take a look at the following:
- Summary Statistics + Distribution Analysis

In [ ]:
# TO DO: See how the data looks compared to when we last described the data.

- Spot Checking

In [ ]:
# TO DO: Randomly sample 5 values and see how they look.

- Missing Values Check

In [ ]:
# TO DO: Is there anything else missing in the data set?

# Data Analysis/Visualization

After we've cleaned the data, now we can work with the data. 

In Pandas, there are a series of summary statistics that can be calculated from your dataframe. You can either use the ```describe()``` function or the summary operators: ```mean()```, ```mode()```, or ```median()```.

In [ ]:
# TO DO: Calculate the mean for each numeric column

In [ ]:
# TO DO: Calculate the mode for each numeric column

In [ ]:
# TO DO: Calculate the median for each numeric column

You can also count the number of values within a categorical variable using the ```value_counts()``` function. Use normalize to return proportions instead of absolute counts.

In [ ]:
# TO DO: Calculate the value counts for each numeric column. Try setting normalize equal to true.

Here, we're using the ```groupby()``` function. Remember in the merged table there were multiple duplicates for SK_ID_CURR due to the credit type that each individual had? This function helps to group those entries and take the mean of those values.

In [ ]:
# TO DO: Let's use the merge table - clean the table up here

In [ ]:
# TO DO: Use the group by function to group the duplicate SK_ID_CURR together by their credit type.

You can also create pivot tables with your summary statistics.

In [ ]:
# TO DO: Let's create a pivot table! We'll use values="AMT_CREDIT_SUM", index='TARGET', and columns=['CREDIT_TYPE']

Additionally, you can run correlations within your dataset:

In [ ]:
# TO DO: Take a look at the correlation chart, do you see any highly correlating values?

You can also map out your data using Pandas. Here we will create a series of graphs with our data, including a line graph, a bar chart, and a boxplot.

In [ ]:
# TO DO: Create a line chart using the AMT_INCOME_TOTAL

In [ ]:
# TO DO: Create a bar chart using the NAME_CONTRACT_TYPE

In [ ]:
# TO DO: Create a box chart using the AMT_INCOME_TOTAL

# Additional Packages

Pandas is powerful as is, but in conjunction with other packages, you will be able to do a lot more with the data given. Some of the popular packages include:
- [NumPy for numerical computing](https://numpy.org/)
- [Matplotlib](https://numpy.org/), [Seaborn](https://seaborn.pydata.org/) for visualizations
- [scikit-learn](https://scikit-learn.org/stable/), [PyTorch](https://pytorch.org/) for machine learning

If you're interested, click on each of the links to learn more!

## Examples

In [ ]:
import numpy as np

a = np.array([[2, 3, 1],
              [4, 6, 5]])
a.shape

In [ ]:
a.ndim

In [ ]:
np.sort(a)

In [ ]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])
np.concatenate((a, b))

In [ ]:
a = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
five_up = (a > 5) | (a == 5)
print(five_up)

In [ ]:
data = np.array([1, 2])
ones = np.ones(2, dtype=int)

data + ones
data - ones
data * data
data / data

In [ ]:
data = np.array([1.0, 2.0])
data * 1.6

In [ ]:
data.max()
data.min()
data.sum()

In [ ]:
import seaborn as sns

sns.set_theme()

In [ ]:
tips = sns.load_dataset("tips")

# Create a visualization
sns.relplot(
    data=tips,
    x="total_bill", y="tip", col="time",
    hue="smoker", style="smoker", size="size",
)

In [ ]:
sns.lmplot(data=tips, x="total_bill", y="tip", col="time", hue="smoker")

In [ ]:
sns.displot(data=tips, x="total_bill", col="time", kde=True)

In [ ]:
sns.catplot(data=tips, kind="bar", x="day", y="total_bill", hue="smoker")

In [ ]:
sns.heatmap(tips.corr(), annot=True)

In [ ]:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

reg = LogisticRegression(random_state=0)

X_train, X_test, y_train, y_test = train_test_split(
                     df[['AMT_INCOME_TOTAL']], df['TARGET'], test_size=0.33, random_state=42)

reg.fit(X_train, y_train)

reg.score(X_test, y_test)

In [ ]:
df_test = pd.read_csv("presentation/application_test.csv").fillna(0)

reg.predict(df_test[['AMT_INCOME_TOTAL']])